  <!-- <footer class="bg-white mt-8 p-4 text-center text-sm text-gray-500 absolute bottom-0 w-full">
    &copy; <%= new Date().getFullYear() %> Your School. All rights reserved.
  </footer> -->
</body>
</html>